@model WebApp.Models.SearchData
@using WebApp.Content

@{
    /**/

    ViewBag.Title = "GetResults";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <script type="text/javascript">
        function Save(searchStr, id, nam)
        {
            var sString = "str";
            var id2 = "id";

            @*
                var sString = @Model.SearchString;
                alert("test");

                document.getElementById("panel").innerHTML = id;
            *@
            $.post("/Search/StoreOpenDoc", { searchData: searchStr, docid: id, name: nam });

        }
    </script>
</head>


<body>
    @*
        <div id="panel">Text</div>
    *@

    <div class="jumbotron">
        @if (Model.ResultList.Count > 1)
        {
            <div class="h6 pb-3">Returned @Model.ResultList.Count results</div>
        }
        else
        {
            <div class="h6 pb-3">Returned 1 result</div>
        }
        <div class="results">

            @using (Html.BeginForm("GetResults", "Search"))
            {
                @Html.TextBoxFor(model => model.SearchString, new { @class = "form-control" })
            }

            @foreach (var item in Model.ResultList)
            {
                <div class="card text-left m-3">
                    <font size="+1">
                        @if (string.IsNullOrEmpty(item.InternalLink))
                            {
                                <a id="docLink" href=@(@item.ExternalLink) onclick="Save('@Model.SearchString','@item.Id','@item.Name' );" link target="_blank"> @item.Name</a>
                            }
                        else{
                                <a id="docLink" href=@("https://mehdstorageacc.blob.core.windows.net/testcontainer/" + @item.InternalLink) onclick="Save('@Model.SearchString','@item.Id','@item.Name' );" link target="_blank"> @item.Name</a>
                        }
                        <br />
                    </font>

                    @if (item.Author.ToString() != "")
                    {
                        @Html.DisplayFor(modelItem => item.Author)
                        <br />
                    }

                    @if (item.Publisher.ToString() != "")
                    {
                        @Html.DisplayFor(modelItem => item.Publisher)
                        <br />
                    }
                    @if (item.Date.ToString() != "")
                    {
                        @Html.DisplayFor(modelItem => item.Date)
                        <br />
                    }

                    @if (item.Keywords.ToString() != "")
                    {
                        <span> Keywords:  <i>@Html.DisplayFor(modelItem => item.Keywords)</i> </span>
                    }

                    <i size="-1">
                        @if (item.Summary.ToString() != "")
                        {
                            <br />
                            @Html.DisplayFor(modelItem => item.Summary)
                        }
                    </i>

                </div>

            }
                @if (Model.SuggestionList.Count > 0)
                {<br />
                    <div class="h6 pb-3">Based on your search you might be interested in</div>
                    foreach (var item in Model.SuggestionList)
                    {
                        <div class="card text-left m-3">
                            <font size="+1">
                                <a id="docLink" href=@("https://mehdstorageacc.blob.core.windows.net/testcontainer/" + @item.InternalLink) onclick="Save('@Model.SearchString','@item.Id','@item.Name');" link target="_blank"> @item.Name</a>
                                <br />
                            </font>

                            @if (item.Author.ToString() != "")
                            {
                                @Html.DisplayFor(modelItem => item.Author)
                                <br />
                            }

                            @if (item.Publisher.ToString() != "")
                            {
                                @Html.DisplayFor(modelItem => item.Publisher)
                                <br />
                            }
                            @if (item.Date.ToString() != "")
                            {
                                @Html.DisplayFor(modelItem => item.Date)
                                <br />
                            }

                            @if (item.Keywords.ToString() != "")
                            {
                                <span> Keywords:  <i>@Html.DisplayFor(modelItem => item.Keywords)</i> </span>
                            }

                            <i size="-1">
                                @if (item.Summary.ToString() != "")
                                {
                                    <br />
                                    @Html.DisplayFor(modelItem => item.Summary)
                                }
                            </i>

                        </div>
                    }

                }

        </div>

    </div>

</body>

