@using WebApp.Models
@model WebApp.Models.SearchData

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string info = " " + Model.Information;
}

<div class="jumbotron">
    <div class="h4 pb-3">Search</div>
    <div class="form-group">
        @using (Html.BeginForm("GetResults", "Search"))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })

            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })

            @Html.LabelFor(model => model.Publisher, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Publisher, new { @class = "form-control" })

            @Html.LabelFor(model => model.Keywords, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Keywords, new { @class = "form-control" })
            <br />
            @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="date" name="DateFrom" min="1900-01-01" max="2018-12-31" value=@Model.DateFrom><br />

            @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="date" name="DateTo" min="1900-01-01" max="2018-12-31" value=@Model.DateTo><br />

            <br />
            <input type="submit" value="Search" name="searchBtn" /><font color="red">@info</font>
        }

    </div>
</div>

<br />


