@using WebApp.Models
@model WebApp.Models.SearchData

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string info = "";
    if (Model != null)
    {
        info = Model.ValidationInformation;
    }

}

@using (@Html.BeginForm("GetResults", "Search"))
{
<p>
    Id:<br /> @Html.TextBoxFor(s => s.Id) <br />
    Title:<br /> @Html.TextBox("Title") <br />
    Author:<br /> @Html.TextBox("Author") <br />
    Keywords:<br /> @Html.TextBox("Keywords") <br />
    Publisher:<br /> @Html.TextBox("Publisher") <br />
    Date from - to:<br />
    <input type="date" name="DateFrom" min="1900-01-01" max=@DateTime.Now.Date>
    -
    <input type="date" name="DateTo" min="1900-01-01" max=@DateTime.Now.Date><br />
    <br />
    <input type="submit" value="Search" name="searchBtn" />
</p>

}

@info
