@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var data = ViewBag.data as List<WebApp.Models.Reports>;
    // string selectedSummary = data[0];
    var data = "";
    string selectedSummary = "";
    if (selectedSummary is null)
    {
        selectedSummary = "";
    }
}


<head>
    <style type="text/css">
        table {
            width: 100%;
            border-collapse: collapse;
        }

        .scrollingTable {
            overflow-y: auto;
        }
    </style>
    <script type="text/javascript">

        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });

        $('#myLink').click(function () { selectedSummary = "testing.." });

        function updateSummary() {
            document.getElementById('summaryTb').value = "ecapital letters and the small letters represent distinct and unrelated entities.";
        }


        function makeTableScroll() {
            // Constant retrieved from server-side via JSP
            var maxRows = 10;
            var table = document.getElementById('ResultTable');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = height + "px";
            }
        }


    </script>
</head>





<h2>Results</h2>

<body onload="makeTableScroll();">
    <div class="scrollingTable">

        <table id="ResultTable" class="fixed_headers">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        FirstName
                    </th>
                    <th>
                        LastName
                    </th>
                    <th>
                        Keywords
                    </th>
                    <th>
                        Publisher
                    </th>
                    <th>
                        Date Published
                    </th>
                    <th>
                        Summary
                    </th>
                    <th>
                        Download
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in data)
                {
                <tr>
                    @*
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keywords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePublished)
        </td>
        <td>
            <a href="#" onclick="updateSummary()"> Summary </a>
        </td>
        <td>
            @Html.ActionLink("Download", "Notimplemented", new { id = item.Id })
        </td>

                    *@
                </tr>

                }
            </tbody>

        </table>
    </div>
</body>
<br />
<br />
<h3>Summary - fill tb when clicking on summary link</h3>
@Html.TextBox("summaryTb", selectedSummary, new { @readonly = "readonly" })

