@model WebApp.Models.Documents.UserDocument
@using WebApp.Content
@{
    ViewBag.Title = "Login";
}
<div class="jumbotron">
    <div class="h4 pb-3">
        @ViewBag.Title
    </div>

    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
    <div>
        @Chtml.Control(Html, model => model.Username)
        @Chtml.Control(Html, model => model.Password)
    </div>
        <input type="submit" class="btn btn-outline-dark btn-lg" />
        <div class="col-md-2">@ViewBag.ModelStatus</div>
    }
</div>