@model WebApp.Models.Documents.ReportDocument
@using WebApp.Content
@{
    ViewBag.Title = "Register a document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <div class="h4 pb-3">
        @ViewBag.Title
    </div>

    @using (Html.BeginForm("Document", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
    <div>
        <div class="form-group pb-4">
            <div class="form-check-inline">
                @Html.RadioButtonFor(model => model.Datatype, "Environment", new { @class = "form-check-input" }) @Html.Label("Environment", new { @class = "form-check-label" })
            </div>
            <div class="form-check-inline">
                @Html.RadioButtonFor(model => model.Datatype, "Health", new { @class = "form-check-input" }) @Html.Label("Health", new { @class = "form-check-label" })
            </div>
            @Html.ValidationMessageFor(model => model.Datatype, "Data type must be specified")
        </div>
        @Chtml.Control(Html, model => model.Name)

        @Chtml.Control(Html, model => model.Author)

        @Chtml.Control(Html, model => model.Date)

        @Chtml.Control(Html, model => model.Publisher)

        @Chtml.Control(Html, model => model.Summary)

        @Chtml.Control(Html, model => model.Keywords)

        @Chtml.Control(Html, model => model.ExternalLink)

        @Chtml.Control(Html, model => model.File)

        @Chtml.Control(Html, model => model.Public)
    </div>
        <input type="submit" class="btn btn-outline-dark btn-lg" />
        <div class="col-md-2">@ViewBag.ModelStatus</div>
    }
</div>
