@model WebApp.Models.Documents.RawDataDocument
@using WebApp.Content
@{
    ViewBag.Title = "Register raw data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <div class="h4 pb-3">
        @ViewBag.Title
    </div>


    @using (Html.BeginForm("RawData", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()


        <div class="modal-body row">
            <div class="col-lg-4">
                <div class="form-group pb-4">
                    <div class="form-check-inline">
                        @Html.RadioButtonFor(model => model.Datatype, "Environment", new { @class = "form-check-input" }) @Html.Label("Environment", new { @class = "form-check-label" })
                    </div>
                    <div class="form-check-inline">
                        @Html.RadioButtonFor(model => model.Datatype, "Health", new { @class = "form-check-input" }) @Html.Label("Health", new { @class = "form-check-label" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Datatype, "Data type must be specified")
                </div>
                @Chtml.Control(Html, model => model.Name)

                @Chtml.Control(Html, model => model.Author)

                @Chtml.Control(Html, model => model.Date)

                @Chtml.Control(Html, model => model.Keywords)

                @Chtml.Control(Html, model => model.Public)

                <div class="text-center">
                    <input type="submit" class="btn btn-outline-dark btn-lg" />
                    <div>@ViewBag.ModelStatus</div>
                </div>
            </div>
            <div class="col-lg-4">
                @Chtml.Control(Html, model => model.Header)

                @Chtml.Control(Html, model => model.Separator)

                @Chtml.Control(Html, model => model.RowColumn)

                @Chtml.Control(Html, model => model.File)

                @Chtml.Control(Html, model => model.Data)
            </div>
            <div class="col-lg-4"></div>
        </div>
    }
</div>

