@model WebApp.Models.Documents.RawDataDocument
@using WebApp.Content
@{
    ViewBag.Title = "Register raw data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <div class="h4 pb-3">
        @ViewBag.Title
    </div>


    @using (Html.BeginForm("RawData", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()

        
        <div class="modal-body row">
            <div class="col-lg-4">
                <div class="form-group pb-4">
                    <div class="form-check-inline">
                        @Html.RadioButtonFor(model => model.Datatype, "Environment", new { @class = "form-check-input" }) @Html.Label("Environment", new { @class = "form-check-label" })
                    </div>
                    <div class="form-check-inline">
                        @Html.RadioButtonFor(model => model.Datatype, "Health", new { @class = "form-check-input" }) @Html.Label("Health", new { @class = "form-check-label" })
                    </div>
                </div>
                @Chtml.Control(Html, model => model.Name)

                @Chtml.Control(Html, model => model.Author)

                @Chtml.Control(Html, model => model.Date)

                @Chtml.Control(Html, model => model.Keywords)

            </div>
            <div class="col-lg-8">
                @Chtml.Control(Html, model => model.Header)
                <br />
                @Chtml.Textarea(Html, model => model.Data)
                <div class="col-lg-3 pl-3 pb-3">
                    @Chtml.Control(Html, model => model.Separator)
                </div>
                <div class="col-lg-3">
                    @Chtml.Control(Html, model => model.RowColumn)
                </div>
                <div class="col-lg-6">
                    @Chtml.Control(Html, model => model.File)
                </div>

            </div>
            <div align="center">
                <input type="submit" class="btn btn-outline-dark btn-lg" />
                <div class="col-lg-6">@ViewBag.ModelStatus</div>
            </div>
        </div>
    }
</div>

